<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Hola <b>{{nombreUser.name}}</b> bienvenido a tu panel de usuario</h1>
                    <a href="/Articulos/add" class="btn btn-success btn-block">Agregar nuevo articulo</a>
            </div>
        </div>
    </div>

    {{#each findArticulos}}
    <div class="col-md-6">
        <div class="card ">
            <div class="card-body text-center">
                <p>
                <h6>Nombre del documento</h6>{{TituloArticulo}}
                <h6>Nombre del archivo</h6>{{originalname}}
                {{Tipo}}
                {{Autores}}
                <a href="{{LinkURL}}"></a>
                </p>
                <div class="form-group">
                    <a href="/Articulos/ViewArticulosPDF/{{_id}}"><button class="btn btn-info  btn-block btn-sm">Ver
                            PDF</button></a>

                </div>
                <div class="form-group">
                    <a href="/Articulos/edit/{{_id}}"> <button class="btn btn-warning  btn-block btn-sm">Editar
                            Articulo</button> </a>
                </div>
                <object class="pdfview card-img-top" type="{{mimetype}}" data="{{path}}"></object>
                <Form action="/Articulos/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit"> Delete</button>
                </Form>
            </div>
        </div>
    </div>
    {{/each}}

</div>